form
  .form-row
    label.col-3.col-form-label.col-form-label-sm(for='template') Template:
    .col-9
      input#template.form-control-sm.form-control-plaintext(type='text', readonly='', value='#{json.template.filename}')
  .form-row
    label.col-3.col-form-label.col-form-label-sm(for='project_id') Project ID:
    .col-1
      input#project_id.form-control-sm.form-control-plaintext(type='text', readonly='',
        value='#{project.id}')
    .col-8
      input#project_name.form-control-sm.form-control-plaintext(type='text', readonly='',
        value='(#{project.name})')
  .form-row
    label.col-3.col-form-label.col-form-label-sm(for='tracker_id') Tracker ID:
    .col-1
      input#tracker_id.form-control-sm.form-control-plaintext(type='text', readonly='',
        value='#{tracker.id}')
    .col-8
      input#tracker_name.form-control-sm.form-control-plaintext(type='text', readonly='',
        value='(#{tracker.name})')
  .form-row
    label.col-3.col-form-label.col-form-label-sm(for='switch_user') User:
    .col-9
      input#switch_user.form-control-sm.form-control-plaintext(type='text', readonly='', value='#{switch_user}')