table.table.table-sm
  thead
    tr.row
      th.col-2(scope='col') #
      th.col-5(scope='col') 現在のデータ
      th.col-5(scope='col') 読み込まれたデータ
  tbody
    each item, key in JSON.parse(mapping_table)
      case key
        when 'custom_fields'
          each cf in item
            tr.row
              th.col-2 cf_#{cf.id}:
              td.col-5
                textarea.form-control.form-control-sm.currentdata(id=`currentdata_cf_${cf.id}`, rows='1')
              td.col-5
                textarea.form-control.form-control-sm.postdata(id=`postdata_cf_${cf.id}`, rows='1')
        default
          tr.row
            - var id = (item.id ? `${key}_id` : key);
            th.col-2 #{id}:
            td.col-5
              textarea.form-control.form-control-sm.currentdata(id=`currentdata_${id}`, rows='1')
            td.col-5
              textarea.form-control.form-control-sm.postdata(id=`postdata_${id}`, rows='1')
